<p> <table border="3">
<tr>
   <td valign="top"> imu_params.header.system_enabled </td>
   <td> <input width="100px" type="text" id="imu_params_header_system_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.header.system_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.header.update_enabled </td>
   <td> <input width="100px" type="text" id="imu_params_header_update_enabled" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.header.update_enabled')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[0] </td>
   <td> <input width="100px" type="text" id="imu_params_values_0_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[0]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[1] </td>
   <td> <input width="100px" type="text" id="imu_params_values_1_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[1]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[2] </td>
   <td> <input width="100px" type="text" id="imu_params_values_2_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[2]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[3] </td>
   <td> <input width="100px" type="text" id="imu_params_values_3_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[3]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[4] </td>
   <td> <input width="100px" type="text" id="imu_params_values_4_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[4]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[5] </td>
   <td> <input width="100px" type="text" id="imu_params_values_5_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[5]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[6] </td>
   <td> <input width="100px" type="text" id="imu_params_values_6_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[6]')"/> SET</td>
</tr>
<tr>
   <td valign="top"> imu_params.values[7] </td>
   <td> <input width="100px" type="text" id="imu_params_values_7_" /> </td>
   <td> <button type="button" onclick="setVariable('imu_params.values[7]')"/> SET</td>
</tr>
</table> </p>
